<nav id="sidebar-icon-links">
    
  <a id="scholar-link" class="icon" title="Scholar" aria-label="Scholar"
    href="https://scholar.google.com/citations?user=QnzlBI8AAAAJ">
    <i class="ai ai-google-scholar-square ai" aria-hidden="true"></i>
  </a>

  <a id="github" class="icon" title="GitHub" aria-label="GitHub"
    href="https://github.com/SankhaSubhra">
    <i class="fa fa-github-square fa" aria-hidden="true"></i>
  </a>

  <a id="linkedin" class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://www.linkedin.com/in/sankha-subhra-mullick-92652119"><i
    class="fa fa-linkedin-square fa" aria-hidden="true"></i>
    </a>

  <a id="gmail-link" class="icon" title="Gmail" aria-label="Gmail"
     href="mailto:mullicksankhasubhra@gmail.com">
      <i class="fa fa-envelope-square fa" aria-hidden="true"></i>
  </a>

</nav>
